name: Deploy to Oracle
on:
  push:
    branches: [ master ]
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: SSH to deploy
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.ORACLE_HOST }}
          username: ubuntu
          key: ${{ secrets.ORACLE_SSH_KEY }}
          script: |
            BASE_DIR=~/mafia-bot
            PM2_NAME=bot-process
            cd $BASE_DIR
            git pull github
            pm2 reload all
